{% extends 'base.html.twig' %}

{% block title %}Employees!{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>salary</th>

        </tr>
        {% for e in department.employees %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.firstName }}</td>
                <td>{{ e.lastName }}</td>
                <td>{{ e.salary }}</td>
                <td><a href="{{ path('app_department_show') }}">back</a></td>

            </tr>
        {% endfor %}

    </table>
{% endblock %}